<%= form_with model: [@test, @question], local: true, class: 'mt-3 col-4 mb-2' do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body, class: 'form-control', placeholder: 'Введите вопрос' %>
  </div>

  <%= form.submit 'Создать вопрос', class: 'btn btn-success' %>

<% end %>
