<h1>Вопрос к тесту <%= @question.test.title %></h1>

<div class="table-responsive mt-3">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Вопрос</th>
        <th>Тест</th>
        <th colspan="3">Действия</th>
      </tr>
    </thead>

    <tr>
      <td class="align-middle"><%= @question.id %></td>
      <td class="align-middle"><%= @question.body %></td>
      <td class="align-middle"><%= @question.test.title %></td>
      <td class="align-middle"><%= link_to 'Редактировать', edit_question_path %></td>
      <td class="align-middle"><%= link_to 'Удалить', question_path(@question), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %></td>
    </tr>
  </table>
</div>


<h2>Ответы:</h2>

<%= link_to 'Новый ответ', new_question_answer_path(@question), class: 'btn btn-success' %>

<div class="table-responsive mt-3">
  <table class="table">
    <thead>
      <%= render @question.answers %>
    </thead>
  </table>
</div>

<%= octicon "chevron-left" %> <%= link_to 'Назад', admin_test_path(@question.test) %>
