<%= form_with url: sessions_path, local: true do |form| %>
  <% if flash[:alert] %>
    <%= flash_message(:alert) %>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, id: :password %>
  </div>

  <div>
    <%= form.submit 'Отправить' %>
  </div>
<% end %>