<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>