<div class="dropdown-divider my-4"></div>
<div class="container mt-4 card text-white bg-dark">
  <div class="row border p-4">
    <h3>Есть вопросы? Напишите нам!</h3>
    <%= form_with url: "/feedbacks", method: "post", class: 'w-100', remote: true do |form| %>
      <%= render 'shared/errors', resource: @feedback %>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, id: :feedback_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, id: :feedback_message, rows: 5, class: 'form-control' %>
      </div>

      <%= form.submit 'Отправить', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
