<h1>Вопрос</h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b>Ответ:</b>
  <%= @answer.title %>
</p>

<p>
  <b>Правильный?</b>
  <%= @answer.correct %>
</p>

<%= octicon "chevron-left" %> <%= link_to 'Назад', question_path(@answer.question) %>