<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title%>
  </div>

  <div>
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level %>
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>