<h1><%= t('.header') %></h1>

<div>
  <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-success' %>
</div>

<%= render 'shared/errors', resource: @test %>

<div class="table-responsive">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th class="sort-by-title pointer">
          <%= t('.test') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.number_of_question') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.category') %></th>
        <th>Таймер (В минутах)</th>
        <th colspan="3"><%= t('.actions') %></th>
      </tr>
    </thead>

    <%= render @tests %>

  </table>
</div>
