<h1><%= raw t('.header', title: @test.title) %></h1>

<hr>

<h4><%= t('.level', level: @test.level) %></h4>

<hr>

<h3><%= t('.test_questions') %></h3>

<%= link_to t('.create'), new_test_question_path(@test), class: 'btn btn-success' %>

<div class="table-responsive">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= t('.question') %></th>
        <th colspan="3"><%= t('.actions') %></th>
      </tr>
    </thead>

    <%= render partial: 'questions/question', collection: @test.questions %>
  </table>
</div>

<%= octicon "chevron-left" %> <%= link_to t('.back'), admin_tests_path %>
