<h1><b>Тест:</b> <%= @test.title %></h1>

<h3>Уровень: <%= @test.level %></h3>

<h3>Вопросы теста:</h3>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>

<table>
  <tr>
    <th>ID</th>
    <th>Вопрос</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render partial: 'questions/question', collection: @test.questions %>
</table>

<%= link_to 'Назад', admin_tests_path %>
