<h1><%= raw t('.header', title: @test.title) %></h1>

<h3><%= t('.level', level: @test.level) %></h3>

<h3><%= t('.test_questions') %></h3>

<%= link_to t('.create'), new_test_question_path(@test) %>

<table>
  <tr>
    <th>ID</th>
    <th><%= t('.question') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render partial: 'questions/question', collection: @test.questions %>
</table>

<%= link_to t('.back'), admin_tests_path %>
