<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th>ID</th>
    <th><%= t('.test') %></th>
    <th><%= t('.number_if_question') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
